In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.utils.class_weight import compute_class_weight

In [2]:
df = pd.DataFrame({"col1": np.arange(10), "col2": np.arange(10)**2, "y": [0]*5+[1]*5})
df

   col1  col2  y
0     0     0  0
1     1     1  0
2     2     4  0
3     3     9  0
4     4    16  0
5     5    25  1
6     6    36  1
7     7    49  1
8     8    64  1
9     9    81  1

In [3]:
store = pd.HDFStore('blah.h5')

In [4]:
store

<class 'pandas.io.pytables.HDFStore'>
File path: blah.h5

In [18]:
len(df[df.y == 1])

5

In [3]:
X = df.drop("y", axis=1)
X

   col1  col2
0     0     0
1     1     1
2     2     4
3     3     9
4     4    16
5     5    25
6     6    36
7     7    49
8     8    64
9     9    81

In [4]:
y = df.y
y

0    0
1    0
2    0
3    0
4    0
5    1
6    1
7    1
8    1
9    1
Name: y, dtype: int64

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=None, stratify=y)
X_train

   col1  col2
2     2     4
4     4    16
9     9    81
6     6    36
0     0     0
5     5    25

In [9]:
X_test

   col1  col2
8     8    64
3     3     9
7     7    49
1     1     1

In [10]:
y_train

2    0
4    0
9    1
6    1
0    0
5    1
Name: y, dtype: int64

In [11]:
y_test

8    1
3    0
7    1
1    0
Name: y, dtype: int64

In [14]:
X_train.query("col1 > 4").loc[:,"col2"]

9    81
6    36
5    25
Name: col2, dtype: int64

In [10]:
y = np.array([0, 0, 1, 1, 1, 1])
classes = np.unique(y)
classes

array([0, 1])

In [11]:
compute_class_weight(class_weight="balanced", classes=classes, y=y)

array([1.5 , 0.75])